<div class="row border-top border-bottom bg-light my-2">
    <h2 class="col-12 mt-1">Compétences</h2>
    <hr/>
    <div class="col-12">
        <ul class="list-group list-group-root mb-2">
            <li class="list-group-item list-group-item-success">
                Maitrisées
            </li>
            <li class="list-group-item">
                <app-labeled-icon [icon]="'fab fa-sass'" [label]="'SASS'"></app-labeled-icon>
                <app-labeled-icon [icon]="'fab fa-html5'" [label]="'HTML 5'"></app-labeled-icon>
                <app-labeled-icon [icon]="'fab fa-js'" [label]="'JavaScript - EcmaScript 6'"></app-labeled-icon>
            </li>
            <li class="list-group-item list-group-item-warning">
                Intéressé
            </li>
            <li class="list-group-item">
                <app-labeled-icon [icon]="'fab fa-angular'" [label]="'Angular 5'"></app-labeled-icon>
                <app-labeled-icon [icon]="'fab fa-docker'" [label]="'Docker'"></app-labeled-icon>
            </li>
        </ul>
    </div>
</div>
<div class="row border-top border-bottom bg-light my-2">
    <h2 class="col-12 mt-1">Expériences</h2>
    <hr/>
    <div class="col-12">
        <ul class="list-group">
            <li class="list-group-item font-weight-bold">
                2018 - 2016 Vivasoft
            </li>
            <li class="list-group-item">
                J'ai occupé pendant 3 ans un poste de développeur web au sein de l'entreprise Vivasoft. Lors de mes missions, j'ai pu aborder
                diverses technologies comme HTML 5, PHP (5.6 et 7), CSS 3 ainsi que gérer en SSH des VPS qui hébergeaint
                nos sites webs ainsi que des services pour nos clients.
            </li>
        </ul>
    </div>

</div>
<div class="row border-top border-bottom bg-light my-2">
    <h2 class="col-12 mt-1">Contact</h2>
    <hr/>
    <div class="col-12">
        <ul class="list-group">
            <li class="list-group-item">
                <a href="tel:+3351401100110" class="d-flex justify-content-start align-items-center w-100">
                    <i class="fal fa-phone"></i> <span>05 14 01 10 01 10</span>
                </a>
            </li>
            <li class="list-group-item">
                <a href="tel:+3361401100110" class="d-flex justify-content-start align-items-center w-100">
                    <i class="fal fa-mobile"></i><span>06 14 01 10 01 10</span>
                </a>
            </li>
            <li class="list-group-item">
                <a href="mailto:pierrick.couget@ynov.com" class="d-flex justify-content-start align-items-center w-100">
                    <i class="fal fa-at"></i> <span>pierrick.couget@ynov.com</span>
                </a>
            </li>
            <li class="list-group-item text-primary">
                <div class="d-flex justify-content-start align-items-center w-100">
                    <i class="fal fa-envelope"></i> <span>22 Impasse Charles Fourrier<br/>
                    31 200 Toulouse</span>
                </div>
            </li>
        </ul>
    </div>

</div>
<div class="row border-top border-bottom bg-light my-2">
    <h2 class="col-12 mt-1">Données personnelles</h2>
    <hr/>
    <div class="col-12">
        <ul class="list-group">
            <li class="font-weight-bold list-group-item">
                Hobbies
            </li>
            <li class="list-group-item">
                <i class="fal fa-sun text-warning"></i> Planche à voile
            </li>
            <li class="list-group-item">
                <i class="fal fa-pennant text-primary"></i> Escalade
            </li>
            <li class="list-group-item">
                <i class="fal fa-quidditch text-info"></i> Quidditch
            </li>
            <li class="list-group-item">
                <i class="fal fa-shuttlecock text-success"></i> Badmington
            </li>
        </ul>
    </div>
</div>