<div class="row">
    <div class="col-12 col-md-6 col-lg-4 my-2">
        <div class="card">
            <div class="card-header">
                <h5>Connectivité</h5>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <span class="mr-auto">
                        Wifi
                    </span>
                    <span class="slider-checkbox ml-auto">
                        <input type="checkbox" id="wifi-checkbox" />
                        <label class="label" for="wifi-checkbox"></label>
                    </span>
                </li>
            </ul>
        </div>
    </div>
</div>

<!-- <div class="row">
    <div class="col-12 col-md-6 col-lg-4 my-2">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-3 text-linkedin">
                        <i class="fab fa-linkedin" data-fa-transform="grow-12 right-12"></i>
                    </div>
                    <div class="col-9">
                        Lier mon compte Linkedin
                    </div>
                </div>
            </div>
            <div class="card-footer btn btn-linkedin m-0">
                Oui
            </div>
        </div>
    </div>
</div> -->