<div class="row">
  <div class="col-12 col-md-6 col-lg-4 mt-4">
    <div class="card">
      <div class="card-header bg-linkedin text-light">
        Linked
        <i class="fab fa-linkedin"></i>
      </div>
      <ul class="list-group list-group-flush pb-0 text-linkedin">
        <li class="list-group-item">
          3 Demandes de contact
        </li>
        <li class="list-group-item">
          5 Messages privés en attente
        </li>
      </ul>
      <a class="w-100 m-0 btn btn-linkedin card-footer" target="_blank" href="https://www.linkedin.com/">
        Accéder à mon compte
      </a>
    </div>
  </div>
  <div class="col-12 col-md-6 col-lg-4 mt-4">
    <div class="card">
      <div class="card-header bg-gplus text-light">
        <i class="fab fa-google" data-fa-transform="grow-1 up-2"></i>oogle <i class="fas fa-plus"></i>
      </div>
      <ul class="list-group list-group-flush pb-0 text-gplus">
        <li class="list-group-item">
          3 Demandes de contact
        </li>
        <li class="list-group-item">
          5 Messages privés en attente
        </li>
        <li class="list-group-item">
          5 Messages privés en attente
        </li>
        <li class="list-group-item">
          5 Messages privés en attente
        </li>
      </ul>
      <a class="w-100 m-0 btn btn-gplus card-footer" target="_blank" href="https://plus.google.com/">
        Accéder à mon compte
      </a>
    </div>
  </div>
</div>